<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <style>
         table, td, tr {
          border: 2px solid black;
          border-collapse:2px;
          padding:20px;
          padding-left: 70px;
          padding-right: 70px;
         }
         body{
          padding-top: 100px;
         }
      </style>    
    </head>
        <body><center><h1>Layout</h1><br>
          <table>
            <tr>
                <td colspan="2"><center>Header</center></td>
            </tr>
            <tr>
              <td colspan="2"><center>nav</center></td>
            </tr>
            <tr>
              <td><center>section</center></td>
              <td rowspan="2"><center>aside</center></td>
            </tr>
            <tr>
              <td><center>article</center></td>
            </tr>
            <tr>
              <td colspan="2"><center>footer</center></td>
            </tr>
          </table>
          </center> 
        </body>
</html>